n8n-workflows/dona-oferta-workflows-updated.json
{
  "meta": {
    "instanceId": "dona-oferta-system",
    "n8nVersion": "1.110.1"
  },
  "workflows": [
    {
      "id": "1",
      "name": "Dona Oferta - Cadastro de Usuários com Planos",
      "nodes": [
        {
          "parameters": {
            "path": "cadastro-usuario",
            "responseMode": "responseNode",
            "options": {}
          },
          "id": "webhook-cadastro",
          "name": "Webhook Cadastro",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [240, 300],
          "webhookId": "cadastro-usuario-webhook"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "telefone",
                  "name": "telefone",
                  "value": "={{ $json.telefone }}",
                  "type": "string"
                },
                {
                  "id": "cep",
                  "name": "cep", 
                  "value": "={{ $json.cep }}",
                  "type": "string"
                },
                {
                  "id": "cpf",
                  "name": "cpf",
                  "value": "={{ $json.cpf }}",
                  "type": "string"
                },
                {
                  "id": "formato_preferido",
                  "name": "formato_preferido",
                  "value": "={{ $json.formato_preferido || 'Texto' }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "processar-dados",
          "name": "Processar Dados",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3,
          "position": [460, 300]
        },
        {
          "parameters": {
            "url": "https://rfrzxobijhrcfixtauft.supabase.co/functions/v1/usuarios-whatsapp",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "httpHeaderAuth",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ {\n  \"telefone\": $json.telefone,\n  \"cep\": $json.cep,\n  \"cpf\": $json.cpf,\n  \"formato_preferido\": $json.formato_preferido\n} }}",
            "options": {}
          },
          "id": "chamar-edge-function",
          "name": "Chamar Edge Function",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [680, 300]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict"
              },
              "conditions": [
                {
                  "id": "success_condition",
                  "leftValue": "={{ $json.success }}",
                  "rightValue": true,
                  "operator": {
                    "type": "boolean",
                    "operation": "equals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "verificar-sucesso",
          "name": "Verificar Sucesso",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [900, 300]
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ {\n  \"status\": \"success\",\n  \"message\": \"Usuário cadastrado com trial ativo\",\n  \"trial_days\": 60\n} }}"
          },
          "id": "resposta-webhook-sucesso",
          "name": "Resposta Webhook Sucesso",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [1120, 200]
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ {\n  \"status\": \"error\",\n  \"message\": $json.message || \"Erro no cadastro\"\n} }}"
          },
          "id": "resposta-webhook-erro",
          "name": "Resposta Webhook Erro",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [1120, 400]
        }
      ],
      "connections": {
        "Webhook Cadastro": {
          "main": [
            [
              {
                "node": "Processar Dados",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Processar Dados": {
          "main": [
            [
              {
                "node": "Chamar Edge Function",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Chamar Edge Function": {
          "main": [
            [
              {
                "node": "Verificar Sucesso",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Verificar Sucesso": {
          "main": [
            [
              {
                "node": "Resposta Webhook Sucesso",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Resposta Webhook Erro",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "settings": {},
      "createdAt": "2025-01-13T00:00:00.000Z",
      "updatedAt": "2025-01-13T00:00:00.000Z"
    },
    {
      "id": "2",
      "name": "Dona Oferta - Envio de Ofertas com Controle de Planos",
      "nodes": [
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "hours",
                  "hoursInterval": 12
                }
              ]
            },
            "timezone": "America/Sao_Paulo"
          },
          "id": "trigger-diario",
          "name": "Trigger Diário",
          "type": "n8n-nodes-base.cron",
          "typeVersion": 1,
          "position": [240, 300]
        },
        {
          "parameters": {
            "url": "https://rfrzxobijhrcfixtauft.supabase.co/rest/v1/usuarios",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "httpHeaderAuth",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                },
                {
                  "name": "apikey",
                  "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                }
              ]
            },
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "select",
                  "value": "*"
                },
                {
                  "name": "ativo",
                  "value": "eq.true"
                },
                {
                  "name": "or",
                  "value": "(and(plano_status.eq.active,plano.eq.trial,data_fim_trial.gte.now()),and(plano_status.eq.active,plano.in.(basico,premium)))"
                }
              ]
            },
            "options": {}
          },
          "id": "buscar-usuarios-ativos",
          "name": "Buscar Usuários com Planos Ativos",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [460, 300]
        },
        {
          "parameters": {
            "batchSize": 1,
            "options": {}
          },
          "id": "processar-cada-usuario",
          "name": "Processar Cada Usuário",
          "type": "n8n-nodes-base.splitInBatches",
          "typeVersion": 3,
          "position": [680, 300]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict"
              },
              "conditions": [
                {
                  "id": "plano_trial_premium",
                  "leftValue": "={{ $json.plano }}",
                  "rightValue": "trial,premium",
                  "operator": {
                    "type": "string",
                    "operation": "contains"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "verificar-tipo-plano",
          "name": "Verificar Tipo de Plano",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [900, 300]
        },
        {
          "parameters": {
            "url": "https://rfrzxobijhrcfixtauft.supabase.co/functions/v1/ofertas-personalizadas",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "httpHeaderAuth",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ {\n  \"telefone\": $json.telefone_whatsapp,\n  \"plano\": $json.plano,\n  \"limite_ofertas\": \"ilimitado\"\n} }}",
            "options": {}
          },
          "id": "buscar-ofertas-trial-premium",
          "name": "Buscar Ofertas Trial/Premium",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [1120, 200]
        },
        {
          "parameters": {
            "url": "https://rfrzxobijhrcfixtauft.supabase.co/functions/v1/ofertas-personalizadas",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "httpHeaderAuth",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ {\n  \"telefone\": $json.telefone_whatsapp,\n  \"plano\": $json.plano,\n  \"limite_ofertas\": \"5\"\n} }}",
            "options": {}
          },
          "id": "buscar-ofertas-basico",
          "name": "Buscar Ofertas Básico",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [1120, 400]
        },
        {
          "parameters": {
            "message": "🛒 *OFERTAS DO DIA - {{ $('Processar Cada Usuário').item.json.plano.toUpperCase() }}* 🛒\n\n{{ $json.message }}\n\n{{ $('Processar Cada Usuário').item.json.plano === 'trial' ? '🆓 Trial ativo até: ' + $('Processar Cada Usuário').item.json.data_fim_trial.split('T')[0] : '💎 Plano ativo' }}\n\n---\n💡 Para mais ofertas, visite nossa plataforma!",
            "chatId": "={{ $('Processar Cada Usuário').item.json.telefone_whatsapp }}",
            "additionalFields": {}
          },
          "id": "enviar-ofertas-whatsapp",
          "name": "Enviar Ofertas WhatsApp",
          "type": "n8n-nodes-base.whatsApp",
          "typeVersion": 1,
          "position": [1340, 300]
        }
      ],
      "connections": {
        "Trigger Diário": {
          "main": [
            [
              {
                "node": "Buscar Usuários com Planos Ativos",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Buscar Usuários com Planos Ativos": {
          "main": [
            [
              {
                "node": "Processar Cada Usuário",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Processar Cada Usuário": {
          "main": [
            [
              {
                "node": "Verificar Tipo de Plano",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Verificar Tipo de Plano": {
          "main": [
            [
              {
                "node": "Buscar Ofertas Trial/Premium",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Buscar Ofertas Básico",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Buscar Ofertas Trial/Premium": {
          "main": [
            [
              {
                "node": "Enviar Ofertas WhatsApp",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Buscar Ofertas Básico": {
          "main": [
            [
              {
                "node": "Enviar Ofertas WhatsApp",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "settings": {},
      "createdAt": "2025-01-13T00:00:00.000Z",
      "updatedAt": "2025-01-13T00:00:00.000Z"
    },
    {
      "id": "3",
      "name": "Dona Oferta - Gestão de Planos e Cobrança",
      "nodes": [
        {
          "parameters": {
            "path": "gestao-planos",
            "responseMode": "responseNode",
            "options": {}
          },
          "id": "webhook-planos",
          "name": "Webhook Gestão Planos",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [240, 300],
          "webhookId": "gestao-planos-webhook"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "acao",
                  "name": "acao",
                  "value": "={{ $json.acao }}",
                  "type": "string"
                },
                {
                  "id": "telefone",
                  "name": "telefone",
                  "value": "={{ $json.telefone }}",
                  "type": "string"
                },
                {
                  "id": "plano_escolhido",
                  "name": "plano_escolhido",
                  "value": "={{ $json.plano_escolhido }}",
                  "type": "string"
                },
                {
                  "id": "cpf_usuario",
                  "name": "cpf_usuario",
                  "value": "={{ $json.cpf_usuario }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "processar-acao-plano",
          "name": "Processar Ação Plano",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3,
          "position": [460, 300]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict"
              },
              "conditions": [
                {
                  "id": "acao_assinar",
                  "leftValue": "={{ $json.acao }}",
                  "rightValue": "assinar_plano",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "verificar-acao",
          "name": "Verificar Ação",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [680, 300]
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "valor_plano",
                  "name": "valor_plano",
                  "value": "={{ $json.plano_escolhido === 'basico' ? 299 : 999 }}",
                  "type": "number"
                },
                {
                  "id": "descricao_plano",
                  "name": "descricao_plano",
                  "value": "={{ $json.plano_escolhido === 'basico' ? 'Plano Básico - Dona Oferta' : 'Plano Premium - Dona Oferta' }}",
                  "type": "string"
                },
                {
                  "id": "customer_id",
                  "name": "customer_id",
                  "value": "={{ $json.cpf_usuario }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "preparar-dados-pagamento",
          "name": "Preparar Dados Pagamento",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3,
          "position": [900, 200]
        },
        {
          "parameters": {
            "notice": "PLACEHOLDER: Integração com StarkBank será implementada pelo usuário",
            "url": "https://api.starkbank.com/v2/invoice",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "httpHeaderAuth",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "User-Agent",
                  "value": "dona-oferta-n8n/1.0"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ {\n  \"invoices\": [{\n    \"amount\": $json.valor_plano,\n    \"taxId\": $json.customer_id,\n    \"name\": \"Cliente Dona Oferta\",\n    \"descriptions\": [{\n      \"key\": \"produto\",\n      \"value\": $json.descricao_plano\n    }],\n    \"tags\": [\"dona-oferta\", $json.plano_escolhido]\n  }]\n} }}",
            "options": {}
          },
          "id": "criar-cobranca-starkbank",
          "name": "PLACEHOLDER - Criar Cobrança StarkBank",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [1120, 200]
        },
        {
          "parameters": {
            "url": "https://rfrzxobijhrcfixtauft.supabase.co/rest/v1/usuarios",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "httpHeaderAuth",
            "method": "PATCH",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                },
                {
                  "name": "Prefer",
                  "value": "return=minimal"
                }
              ]
            },
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "telefone_whatsapp",
                  "value": "eq.{{ $('Processar Ação Plano').item.json.telefone }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ {\n  \"plano_status\": \"pending_payment\",\n  \"plano_payment_id\": \"pending\"\n} }}",
            "options": {}
          },
          "id": "atualizar-status-usuario",
          "name": "Atualizar Status Usuário",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [1340, 200]
        },
        {
          "parameters": {
            "message": "💳 *ASSINATURA INICIADA*\n\n✅ Seu plano {{ $('Preparar Dados Pagamento').item.json.descricao_plano }} foi solicitado!\n\n💰 Valor: R$ {{ ($('Preparar Dados Pagamento').item.json.valor_plano / 100).toFixed(2) }}\n\n🔗 Link/código para pagamento será enviado em breve via StarkBank.\n\n⏰ Após o pagamento, seu plano será ativado automaticamente!",
            "chatId": "={{ $('Processar Ação Plano').item.json.telefone }}",
            "additionalFields": {}
          },
          "id": "enviar-confirmacao-pagamento",
          "name": "Enviar Confirmação Pagamento",
          "type": "n8n-nodes-base.whatsApp",
          "typeVersion": 1,
          "position": [1560, 200]
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "hours",
                  "hoursInterval": 24
                }
              ]
            },
            "timezone": "America/Sao_Paulo"
          },
          "id": "verificar-trials-expirados",
          "name": "Verificar Trials Expirados",
          "type": "n8n-nodes-base.cron",
          "typeVersion": 1,
          "position": [240, 700]
        },
        {
          "parameters": {
            "url": "https://rfrzxobijhrcfixtauft.supabase.co/rest/v1/usuarios",
            "authentication": "predefinedCredentialType", 
            "nodeCredentialType": "httpHeaderAuth",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                },
                {
                  "name": "apikey",
                  "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                }
              ]
            },
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "select",
                  "value": "telefone_whatsapp,data_fim_trial"
                },
                {
                  "name": "plano",
                  "value": "eq.trial"
                },
                {
                  "name": "data_fim_trial",
                  "value": "lt.now()"
                },
                {
                  "name": "ativo",
                  "value": "eq.true"
                }
              ]
            },
            "options": {}
          },
          "id": "buscar-trials-expirados",
          "name": "Buscar Trials Expirados",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [460, 700]
        },
        {
          "parameters": {
            "batchSize": 1,
            "options": {}
          },
          "id": "processar-trial-expirado",
          "name": "Processar Trial Expirado",
          "type": "n8n-nodes-base.splitInBatches",
          "typeVersion": 3,
          "position": [680, 700]
        },
        {
          "parameters": {
            "message": "⏰ *SEU TRIAL EXPIROU*\n\n😔 Seu período gratuito de 60 dias chegou ao fim.\n\n💎 Continue aproveitando as melhores ofertas com nossos planos:\n\n🥉 *Plano Básico - R$ 2,99/mês*\n• 5 ofertas por dia\n• Supermercados da sua região\n\n🥇 *Plano Premium - R$ 9,99/mês*\n• Ofertas ilimitadas\n• Prioridade nas melhores promoções\n• Suporte exclusivo\n\n📲 Para assinar, responda:\n*PLANO BASICO* ou *PLANO PREMIUM*",
            "chatId": "={{ $json.telefone_whatsapp }}",
            "additionalFields": {}
          },
          "id": "notificar-trial-expirado",
          "name": "Notificar Trial Expirado",
          "type": "n8n-nodes-base.whatsApp",
          "typeVersion": 1,
          "position": [900, 700]
        },
        {
          "parameters": {
            "url": "https://rfrzxobijhrcfixtauft.supabase.co/rest/v1/usuarios",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "httpHeaderAuth",
            "method": "PATCH",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                },
                {
                  "name": "Prefer",
                  "value": "return=minimal"
                }
              ]
            },
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "telefone_whatsapp",
                  "value": "eq.{{ $json.telefone_whatsapp }}"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ {\n  \"ativo\": false\n} }}",
            "options": {}
          },
          "id": "desativar-usuario-expirado",
          "name": "Desativar Usuário Expirado",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [1120, 700]
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ {\n  \"status\": \"success\",\n  \"action\": $('Processar Ação Plano').item.json.acao,\n  \"payment_status\": \"pending\"\n} }}"
          },
          "id": "resposta-webhook",
          "name": "Resposta Webhook",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [1780, 200]
        }
      ],
      "connections": {
        "Webhook Gestão Planos": {
          "main": [
            [
              {
                "node": "Processar Ação Plano",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Processar Ação Plano": {
          "main": [
            [
              {
                "node": "Verificar Ação",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Verificar Ação": {
          "main": [
            [
              {
                "node": "Preparar Dados Pagamento",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Preparar Dados Pagamento": {
          "main": [
            [
              {
                "node": "PLACEHOLDER - Criar Cobrança StarkBank",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "PLACEHOLDER - Criar Cobrança StarkBank": {
          "main": [
            [
              {
                "node": "Atualizar Status Usuário",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Atualizar Status Usuário": {
          "main": [
            [
              {
                "node": "Enviar Confirmação Pagamento",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Enviar Confirmação Pagamento": {
          "main": [
            [
              {
                "node": "Resposta Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Verificar Trials Expirados": {
          "main": [
            [
              {
                "node": "Buscar Trials Expirados",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Buscar Trials Expirados": {
          "main": [
            [
              {
                "node": "Processar Trial Expirado",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Processar Trial Expirado": {
          "main": [
            [
              {
                "node": "Notificar Trial Expirado",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Notificar Trial Expirado": {
          "main": [
            [
              {
                "node": "Desativar Usuário Expirado",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "settings": {},
      "createdAt": "2025-01-13T00:00:00.000Z",
      "updatedAt": "2025-01-13T00:00:00.000Z"
    },
    {
      "id": "4",
      "name": "Dona Oferta - WhatsApp Interativo com Jornada Completa",
      "nodes": [
        {
          "parameters": {
            "path": "whatsapp-webhook",
            "responseMode": "responseNode",
            "options": {}
          },
          "id": "webhook-whatsapp",
          "name": "Webhook WhatsApp",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [240, 300],
          "webhookId": "whatsapp-webhook"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "telefone",
                  "name": "telefone",
                  "value": "={{ $json.from }}",
                  "type": "string"
                },
                {
                  "id": "mensagem",
                  "name": "mensagem",
                  "value": "={{ $json.body.toLowerCase().trim() }}",
                  "type": "string"
                },
                {
                  "id": "mensagem_original",
                  "name": "mensagem_original",
                  "value": "={{ $json.body }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "processar-mensagem",
          "name": "Processar Mensagem",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3,
          "position": [460, 300]
        },
        {
          "parameters": {
            "url": "https://rfrzxobijhrcfixtauft.supabase.co/rest/v1/usuarios",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "httpHeaderAuth",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                },
                {
                  "name": "apikey",
                  "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                }
              ]
            },
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "select",
                  "value": "*"
                },
                {
                  "name": "telefone_whatsapp",
                  "value": "eq.{{ $json.telefone }}"
                }
              ]
            },
            "options": {}
          },
          "id": "verificar-usuario-existente",
          "name": "Verificar Usuário Existente",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [680, 300]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict"
              },
              "conditions": [
                {
                  "id": "usuario_existe",
                  "leftValue": "={{ $json.length }}",
                  "rightValue": 0,
                  "operator": {
                    "type": "number",
                    "operation": "gt"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "usuario-existe",
          "name": "Usuário Existe?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [900, 300]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict"
              },
              "conditions": [
                {
                  "id": "tem_supermercados",
                  "leftValue": "={{ $json[0].supermercados_preferidos && $json[0].supermercados_preferidos.length }}",
                  "rightValue": 0,
                  "operator": {
                    "type": "number",
                    "operation": "gt"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "tem-supermercados",
          "name": "Tem Supermercados?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [1120, 200]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": false,
                "leftValue": "",
                "typeValidation": "strict"
              },
              "conditions": [
                {
                  "id": "ofertas_cmd",
                  "leftValue": "={{ $('Processar Mensagem').item.json.mensagem }}",
                  "rightValue": "ofertas",
                  "operator": {
                    "type": "string",
                    "operation": "contains"
                  }
                }
              ],
              "combinator": "or"
            },
            "options": {}
          },
          "id": "verificar-comando-ofertas",
          "name": "É Comando Ofertas?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [1340, 100]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": false,
                "leftValue": "",
                "typeValidation": "strict"
              },
              "conditions": [
                {
                  "id": "plano_basico",
                  "leftValue": "={{ $('Processar Mensagem').item.json.mensagem }}",
                  "rightValue": "plano basico",
                  "operator": {
                    "type": "string",
                    "operation": "contains"
                  }
                },
                {
                  "id": "plano_premium",
                  "leftValue": "={{ $('Processar Mensagem').item.json.mensagem }}",
                  "rightValue": "plano premium",
                  "operator": {
                    "type": "string",
                    "operation": "contains"
                  }
                }
              ],
              "combinator": "or"
            },
            "options": {}
          },
          "id": "verificar-comando-plano",
          "name": "É Comando Plano?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [1340, 200]
        },
        {
          "parameters": {
            "url": "https://rfrzxobijhrcfixtauft.supabase.co/functions/v1/ofertas-personalizadas",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "httpHeaderAuth",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ {\n  \"telefone\": $('Processar Mensagem').item.json.telefone,\n  \"plano\": $('Verificar Usuário Existente').item.json[0].plano,\n  \"limite_ofertas\": $('Verificar Usuário Existente').item.json[0].plano === 'basico' ? '5' : 'ilimitado'\n} }}",
            "options": {}
          },
          "id": "buscar-ofertas-usuario",
          "name": "Buscar Ofertas",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [1560, 100]
        },
        {
          "parameters": {
            "message": "🛒 {{ $json.message }}\n\n{{ $('Verificar Usuário Existente').item.json[0].plano === 'trial' ? '🆓 Trial ativo até: ' + $('Verificar Usuário Existente').item.json[0].data_fim_trial.split('T')[0] : '💎 Plano ' + $('Verificar Usuário Existente').item.json[0].plano + ' ativo' }}\n\n---\n💡 Digite *OFERTAS* para receber ofertas atualizadas!",
            "chatId": "={{ $('Processar Mensagem').item.json.telefone }}",
            "additionalFields": {}
          },
          "id": "enviar-ofertas",
          "name": "Enviar Ofertas",
          "type": "n8n-nodes-base.whatsApp",
          "typeVersion": 1,
          "position": [1780, 100]
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "plano_escolhido",
                  "name": "plano_escolhido",
                  "value": "={{ $('Processar Mensagem').item.json.mensagem.includes('basico') ? 'basico' : 'premium' }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "identificar-plano",
          "name": "Identificar Plano",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3,
          "position": [1560, 200]
        },
        {
          "parameters": {
            "url": "{{ $('Webhook WhatsApp').item.json.n8n_base_url || 'http://localhost:5678' }}/webhook/gestao-planos",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ {\n  \"acao\": \"assinar_plano\",\n  \"telefone\": $('Processar Mensagem').item.json.telefone,\n  \"plano_escolhido\": $json.plano_escolhido,\n  \"cpf_usuario\": $('Verificar Usuário Existente').item.json[0].cpf\n} }}",
            "options": {}
          },
          "id": "chamar-gestao-planos",
          "name": "Chamar Gestão Planos",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [1780, 200]
        },
        {
          "parameters": {
            "message": "🛒 *Bem-vindo de volta!*\n\nVocê já está cadastrado com trial ativo! ✅\n\n📋 *Próximo passo:* Precisamos que você escolha seus supermercados preferidos.\n\nPor favor, nos informe:\n📍 Qual região/cidade você mora?\n🏪 Quais supermercados você frequenta?\n\nExemplo: *Moro em São Paulo, frequento Carrefour e Pão de Açúcar*\n\n💡 Após isso, você receberá ofertas personalizadas!",
            "chatId": "={{ $('Processar Mensagem').item.json.telefone }}",
            "additionalFields": {}
          },
          "id": "solicitar-supermercados",
          "name": "Solicitar Supermercados",
          "type": "n8n-nodes-base.whatsApp",
          "typeVersion": 1,
          "position": [1560, 300]
        },
        {
          "parameters": {
            "message": "👋 *Olá! Bem-vindo à Dona Oferta!*\n\n🎉 Que bom ter você aqui!\n\n🆓 *TRIAL GRATUITO DE 60 DIAS!*\nPara começar a receber as melhores ofertas, preciso de algumas informações:\n\n📱 Seu telefone: {{ $('Processar Mensagem').item.json.telefone }} ✅\n📮 Seu CEP\n🆔 Seu CPF\n\nPor favor, envie no formato:\n*CADASTRO [SEU_CEP] [SEU_CPF]*\n\nExemplo: *CADASTRO 01234567 123.456.789-00*\n\n💡 Após o cadastro, você terá 60 dias gratuitos para testar todas as funcionalidades!",
            "chatId": "={{ $('Processar Mensagem').item.json.telefone }}",
            "additionalFields": {}
          },
          "id": "iniciar-cadastro-novo",
          "name": "Iniciar Cadastro Novo",
          "type": "n8n-nodes-base.whatsApp",
          "typeVersion": 1,
          "position": [1120, 400]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": false,
                "leftValue": "",
                "typeValidation": "strict"
              },
              "conditions": [
                {
                  "id": "cadastro_cmd",
                  "leftValue": "={{ $('Processar Mensagem').item.json.mensagem }}",
                  "rightValue": "cadastro",
                  "operator": {
                    "type": "string",
                    "operation": "contains"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "verificar-comando-cadastro",
          "name": "É Comando Cadastro?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [1340, 400]
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "partes_cadastro",
                  "name": "partes_cadastro",
                  "value": "={{ $('Processar Mensagem').item.json.mensagem_original.split(' ') }}",
                  "type": "object"
                },
                {
                  "id": "cep_informado",
                  "name": "cep_informado",
                  "value": "={{ $json.partes_cadastro[1] || '' }}",
                  "type": "string"
                },
                {
                  "id": "cpf_informado",
                  "name": "cpf_informado",
                  "value": "={{ $json.partes_cadastro[2] || '' }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "extrair-dados-cadastro",
          "name": "Extrair Dados Cadastro",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3,
          "position": [1560, 400]
        },
        {
          "parameters": {
            "url": "https://rfrzxobijhrcfixtauft.supabase.co/functions/v1/usuarios-whatsapp",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "httpHeaderAuth",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ {\n  \"telefone\": $('Processar Mensagem').item.json.telefone,\n  \"cep\": $json.cep_informado,\n  \"cpf\": $json.cpf_informado,\n  \"formato_preferido\": \"Texto\"\n} }}",
            "options": {}
          },
          "id": "executar-cadastro",
          "name": "Executar Cadastro",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [1780, 400]
        },
        {
          "parameters": {
            "message": "✅ *Cadastro realizado com sucesso!*\n\n🎉 Bem-vindo à Dona Oferta!\n\n🆓 *SEU TRIAL ESTÁ ATIVO!*\n• 60 dias gratuitos\n• Ofertas ilimitadas\n• Sem custo algum\n\n📅 Trial válido até: {{ $now.plus({ days: 60 }).toFormat('dd/MM/yyyy') }}\n\n📋 *Próxima etapa:* Vamos escolher seus supermercados preferidos.\n\nQual região você mora e quais supermercados frequenta?\n\nExemplo: *Moro em São Paulo, frequento Carrefour e Extra*\n\n💡 Após isso, você já pode receber ofertas digitando: *OFERTAS*",
            "chatId": "={{ $('Processar Mensagem').item.json.telefone }}",
            "additionalFields": {}
          },
          "id": "confirmar-cadastro-sucesso",
          "name": "Confirmar Cadastro",
          "type": "n8n-nodes-base.whatsApp",
          "typeVersion": 1,
          "position": [2000, 400]
        },
        {
          "parameters": {
            "message": "🔄 *Interação processada*\n\n{{ $('Processar Mensagem').item.json.mensagem_original }}\n\n---\n💡 *Comandos disponíveis:*\n\n🛒 *OFERTAS* - Receber ofertas do dia\n💎 *PLANO BASICO* ou *PLANO PREMIUM* - Assinar planos\n📝 *CADASTRO [CEP] [CPF]* - Para novos usuários\n\n❓ Para dúvidas, apenas envie uma mensagem!",
            "chatId": "={{ $('Processar Mensagem').item.json.telefone }}",
            "additionalFields": {}
          },
          "id": "resposta-generica",
          "name": "Resposta Genérica",
          "type": "n8n-nodes-base.whatsApp",
          "typeVersion": 1,
          "position": [1560, 500]
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ {\n  \"status\": \"processed\",\n  \"action\": \"whatsapp_interaction\",\n  \"user_exists\": $('Verificar Usuário Existente').item.json.length > 0\n} }}"
          },
          "id": "resposta-webhook",
          "name": "Resposta Webhook",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [2200, 300]
        }
      ],
      "connections": {
        "Webhook WhatsApp": {
          "main": [
            [
              {
                "node": "Processar Mensagem",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Processar Mensagem": {
          "main": [
            [
              {
                "node": "Verificar Usuário Existente",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Verificar Usuário Existente": {
          "main": [
            [
              {
                "node": "Usuário Existe?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Usuário Existe?": {
          "main": [
            [
              {
                "node": "Tem Supermercados?",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Iniciar Cadastro Novo",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Tem Supermercados?": {
          "main": [
            [
              {
                "node": "É Comando Ofertas?",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Solicitar Supermercados",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "É Comando Ofertas?": {
          "main": [
            [
              {
                "node": "Buscar Ofertas",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "É Comando Plano?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "É Comando Plano?": {
          "main": [
            [
              {
                "node": "Identificar Plano",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Resposta Genérica",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Buscar Ofertas": {
          "main": [
            [
              {
                "node": "Enviar Ofertas",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Enviar Ofertas": {
          "main": [
            [
              {
                "node": "Resposta Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Identificar Plano": {
          "main": [
            [
              {
                "node": "Chamar Gestão Planos",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Chamar Gestão Planos": {
          "main": [
            [
              {
                "node": "Resposta Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Solicitar Supermercados": {
          "main": [
            [
              {
                "node": "Resposta Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Iniciar Cadastro Novo": {
          "main": [
            [
              {
                "node": "É Comando Cadastro?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "É Comando Cadastro?": {
          "main": [
            [
              {
                "node": "Extrair Dados Cadastro",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Resposta Genérica",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extrair Dados Cadastro": {
          "main": [
            [
              {
                "node": "Executar Cadastro",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Executar Cadastro": {
          "main": [
            [
              {
                "node": "Confirmar Cadastro",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Confirmar Cadastro": {
          "main": [
            [
              {
                "node": "Resposta Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Resposta Genérica": {
          "main": [
            [
              {
                "node": "Resposta Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "settings": {},
      "createdAt": "2025-01-13T00:00:00.000Z",
      "updatedAt": "2025-01-13T00:00:00.000Z"
    },
    {
      "id": "5",
      "name": "Dona Oferta - Processamento de Ofertas",
      "nodes": [
        {
          "parameters": {
            "path": "processar-ofertas",
            "responseMode": "responseNode",
            "options": {}
          },
          "id": "webhook-ofertas",
          "name": "Webhook Ofertas",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [240, 300],
          "webhookId": "processar-ofertas-webhook"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "supermercado_id",
                  "name": "supermercado_id",
                  "value": "={{ $json.supermercado_id }}",
                  "type": "string"
                },
                {
                  "id": "url_pdf",
                  "name": "url_pdf",
                  "value": "={{ $json.url_pdf }}",
                  "type": "string"
                },
                {
                  "id": "ofertas_extraidas",
                  "name": "ofertas_extraidas",
                  "value": "={{ $json.ofertas_extraidas }}",
                  "type": "object"
                }
              ]
            },
            "options": {}
          },
          "id": "processar-dados-ofertas",
          "name": "Processar Dados Ofertas",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3,
          "position": [460, 300]
        },
        {
          "parameters": {
            "url": "https://rfrzxobijhrcfixtauft.supabase.co/functions/v1/processar-ofertas",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "httpHeaderAuth",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcnp4b2JpamhyY2ZpeHRhdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTkyMTYsImV4cCI6MjA3MjY3NTIxNn0.83p6u1ZIW_1rpanj5cD054faD0TOw-79FLnitQrJi2c"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ {\n  \"supermercado_id\": $json.supermercado_id,\n  \"url_pdf\": $json.url_pdf,\n  \"ofertas_extraidas\": $json.ofertas_extraidas\n} }}",
            "options": {}
          },
          "id": "chamar-processar-ofertas",
          "name": "Chamar Processar Ofertas",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [680, 300]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict"
              },
              "conditions": [
                {
                  "id": "success_condition",
                  "leftValue": "={{ $json.success }}",
                  "rightValue": true,
                  "operator": {
                    "type": "boolean",
                    "operation": "equals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "verificar-sucesso-processamento",
          "name": "Verificar Sucesso",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [900, 300]
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ {\n  \"status\": \"success\",\n  \"message\": \"Ofertas processadas com sucesso\",\n  \"ofertas_inseridas\": $json.ofertas_inseridas || 0\n} }}"
          },
          "id": "resposta-sucesso-ofertas",
          "name": "Resposta Sucesso",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [1120, 200]
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ {\n  \"status\": \"error\",\n  \"message\": $json.message || \"Erro no processamento das ofertas\"\n} }}"
          },
          "id": "resposta-erro-ofertas",
          "name": "Resposta Erro",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [1120, 400]
        }
      ],
      "connections": {
        "Webhook Ofertas": {
          "main": [
            [
              {
                "node": "Processar Dados Ofertas",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Processar Dados Ofertas": {
          "main": [
            [
              {
                "node": "Chamar Processar Ofertas",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Chamar Processar Ofertas": {
          "main": [
            [
              {
                "node": "Verificar Sucesso",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Verificar Sucesso": {
          "main": [
            [
              {
                "node": "Resposta Sucesso",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Resposta Erro",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "settings": {},
      "createdAt": "2025-01-13T00:00:00.000Z",
      "updatedAt": "2025-01-13T00:00:00.000Z"
    }
  ]
}